{% extends "base.html" %}
{% set page_title = t.title %}
{% set section_num = "04" %}{% set section_name = c.sec_technical %}{% set crumb = c.crumb_data_by_series %}

{% block content %}
{% set p = prs %}
{% set near = p.by_wd[0] %}{% set opt = p.by_wd[1] %}{% set far = p.by_wd[2] %}
<h1 class="title s19">{{ t.title }}</h1>

<h2 class="abs" style="left:51pt; top:89pt;">{{ c.prs_series }}</h2>
<div class="abs" style="left:51pt; top:104pt;"><span class="badge" style="margin-left:0;">{{ c.new }}</span></div>

<div class="abs card" style="left:51pt; top:121.5pt; width:294.8pt; padding:3pt 8pt 2pt;">
  <style>table.spec td{padding:4.3pt 4pt 4.1pt 3pt}</style>
  <table class="spec">
    <tr><td>{{ c.th_model }}</td><td>{{ p.model }}</td></tr>
    <tr><td>{{ c.th_wd_nof_mm }}</td><td>{{ near.wd|n }} / {{ opt.wd|n }} / {{ far.wd|n }}</td></tr>
    <tr><td>{{ t.spec_fov_a }} {{ near.wd|n }} / {{ opt.wd|n }} / {{ far.wd|n }} {{ t.spec_fov_b }}</td><td>{{ near.fov_w|n }} × {{ near.fov_h|n }} / {{ opt.fov_w|n }} × {{ opt.fov_h|n }} / {{ far.fov_w|n }} × {{ far.fov_h|n }}</td></tr>
    <tr><td>{{ t.spec_depth }}</td><td>{{ p.measuring_depth_mm|n }}</td></tr>
    <tr><td>{{ t.spec_spacing_a }} {{ near.wd|n }} / {{ opt.wd|n }} / {{ far.wd|n }} {{ t.spec_spacing_b }}</td><td>{{ near.spacing_um|n }} / {{ opt.spacing_um|n }} / {{ far.spacing_um|n }}</td></tr>
    <tr><td>{{ t.spec_z|safe }}</td><td>{{ p.z_repeatability_um|n }}</td></tr>
    <tr><td>{{ t.spec_resolution }}</td><td>{{ p.sensor.w_px|n }} × {{ p.sensor.h_px|n }} {{ t.pixels }}, {{ p.sensor.megapixels|n }} MP, {{ p.sensor.cameras|n }} {{ t.cameras }}</td></tr>
    <tr><td>{{ t.spec_frame_rate }}</td><td>{{ p.frame_rate }}</td></tr>
    <tr><td>{{ t.spec_optical }}</td><td>{{ t.optical_a }} {{ p.baseline_mm|n }} mm; {{ t.optical_b }}</td></tr>
    <tr><td>{{ t.spec_light }}</td><td>{{ p.light_source }}</td></tr>
    <tr><td>{{ t.spec_laser }}</td><td>{{ p.laser_class }}</td></tr>
    <tr><td>{{ t.spec_color }}</td><td>{{ p.color }}</td></tr>
    <tr><td>{{ t.spec_interface }}</td><td>{{ p.interface }}</td></tr>
    <tr><td>{{ t.spec_power }}</td><td>{{ p.power }}</td></tr>
    <tr><td>{{ t.spec_temp }}</td><td>{{ p.operating_temp }}</td></tr>
    <tr><td>{{ t.spec_dims }}</td><td>{{ p.dimensions_mm.l|n }} × {{ p.dimensions_mm.w|n }} × {{ p.dimensions_mm.h|n }}</td></tr>
    <tr><td>{{ t.spec_weight }}</td><td>{{ p.weight_kg|n }}</td></tr>
    <tr style="border:0"><td style="border:0">{{ t.spec_software }}</td><td style="border:0">{{ p.software }}</td></tr>
  </table>
</div>
<p class="abs note" style="left:51pt; top:522pt; width:294pt;">{{ c.prelim_final }} <sup>1</sup> {{ t.note }}</p>

<!-- right column -->
<div class="abs panel-dark glow" style="left:363pt; top:81.8pt; width:198pt; height:78.7pt; overflow:hidden;">
  <img src="../../../assets/prs-2500b.png" style="position:absolute; left:10pt; top:9pt; width:178pt;" alt="">
</div>
<div class="abs" style="left:363pt; top:166pt; width:198pt;">
  {{ measuring_face_small_svg|safe }}
</div>
<p class="abs caption" style="left:363pt; top:240pt; width:190pt;">{{ t.caption_face_a }} {{ p.dimensions_mm.l|n }} × {{ p.dimensions_mm.w|n }} × {{ p.dimensions_mm.h|n }} mm, {{ t.caption_face_b }}</p>

<div class="abs" style="left:363pt; top:286pt; width:198pt;">
  <h2>{{ t.h2_by_wd }}</h2>
  <table class="data" style="margin-top:5pt;">
    <thead><tr><th style="width:44pt">{{ c.th_wd_mm }}</th><th style="width:74pt">{{ c.th_fov_mm }}</th><th>{{ c.th_spacing_um }}</th></tr></thead>
    <tbody>
    {% for r in p.by_wd %}
      <tr><td class="model">{{ r.wd|n }} {{ r.tag_label }}</td><td>{{ r.fov_w|n }} × {{ r.fov_h|n }}</td><td>{{ r.spacing_um|n }}</td></tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<!-- chart -->
<h2 class="abs" style="left:51pt; top:556pt;">{{ t.h2_chart }}</h2>
<div class="abs card" style="left:51pt; top:571pt; width:510pt; height:199pt; padding:6pt 0 0;">
  {{ fov_wd_chart_svg|safe }}
</div>
<p class="abs caption" style="left:51pt; top:774pt; width:510pt;">{{ t.caption_chart_a }} {{ opt.wd|m }} m {{ t.caption_chart_b }} {{ far.wd|m }} m {{ t.caption_chart_c }}</p>
{% endblock %}
